.dead-image-div {
  margin-left: -4vw;
  width: 100vw;
  height: 50vw;
  background-image: url("../../Assets/page-under-construction.png");
  background-position: center;
  background-size: 90vw;
  background-repeat: no-repeat;
}
