.footer-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 370px;
  background-color: #363b32;
  color: white;
  max-width: 100vw;
}

.top-footer {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.top-footer-link-row {
  display: flex;
  justify-content: space-evenly;
  padding: 0 15vw;
}

a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

.links:hover {
  color: #94b957;
}

.social-media {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  color: white;
}

.social-icon {
  margin: 5px 15px;
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 30px;
}

.email-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}

.seal {
  margin-left: 100px;
  height: 80px;
  width: 80px;
  transform: translateY(-70%);
}

.mailing-list {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.copyright {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-left: 160px;
}

/* ======================== MEDIA QUERIES ======================= */

@media only screen and (max-width: 700px) {
  .footer-component {
    height: initial;
  }

  .top-footer {
    flex-direction: column;
  }

  .top-footer-link-row {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 10vw 0;
  }

  .links {
    margin: 5px 0;
  }

  .mailing-list {
    margin-bottom: 4px;
  }

  .email-subscribe {
    padding-top: 0;
  }

  .bottom-footer {
    align-items: center;
    margin: 15px 0;
    transform: translateX(11.5%);
  }
  .copyright {
    width: 40vw;
    margin: 0;
  }

  .seal {
    margin-left: 20px;
    height: 70px;
    width: 70px;
    transform: translateY(0%);
  }

  span {
    display: inline-block;
    margin-top: 10px;
  }
}
