.purple-icons-first {
  display: flex;
  justify-content: space-around;
  height: 380px;
  width: 80vw;
  padding-top: 40px;
  margin: auto;
}

.icon {
  display: flex;
  flex-direction: column;
  width: 165px;
}

.icon-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon-text h1 {
  font-size: 50px;
  margin-bottom: -20px;
}

.icon-text p {
  font-size: 20px;
  text-align: center;
}

.who-we-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 290px;
  color: rgb(255, 255, 255);
  background-color: rgb(148, 185, 87);
}

.who-we-help-h1 {
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.who-we-help-p {
  font-size: 20px;
  max-width: 60vw;
}

.get-involved {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  height: 520px;
  margin: auto;
}

.get-involved-icons {
  display: flex;
  justify-content: space-evenly;
}

.icon-card {
  min-width: 165px;
}

.get-involved h1 {
  font-size: 50px;
}

.get-involved h2 {
  font-size: 30px;
}

/* ============= MEDIA QUERIES ============== */

@media only screen and (max-width: 700px) {
  .purple-icons-first {
    flex-direction: column;
    align-items: center;
    height: initial;
    padding: 70px 0 60px 0;
  }

  .icon {
    margin: 80px 0;
    transform: scale(1.25, 1.25);
  }

  .get-involved {
    height: initial;
    padding: 70px 0;
  }

  .get-involved h1 {
    font-size: 65px;
  }

  .get-involved-icons {
    flex-direction: column;
  }

  .icon-card {
    transform: scale(1.25, 1.25);
    margin: 80px 0;
  }
}
